<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller='hangmanController as vm'>
    <h1>HANGMAN</h1>
      <p>
        Try to find the word before dying.
      </p>

      <div ng-show='new'>
        <p>Pour générer un nouveau mot, appuyez sur le bouton:</p>
        <form ng-submit="vm.generate()">
          <input type="submit" name="button" value="secretWord" ng-model="secretWord">
        </form>
      </div>

      <div ng-show='play'>
        <p>{{vm.rightLetters}}</p>
        <!-- <p ng-show="rightAnswer">{{letterTest}}</p>
        <p ng-hide="rightAnswer">{{vm.rightLetters}}</p> -->
        <p>Il vous reste {{vm.totalChance}} chance(s) pour découvrir le mot.</p>
        <p>Ne sont pas dans le mot: {{vm.wrongLetters}}</p>

        <form ng-submit="vm.compare(letterTest)">
          <input type="text" name="letter" placeholder="enter a letter" ng-model="letterTest">
          <input type="submit" name="button" value="enter">
        </form>
      </div>

    <p ng-show='success'>Bien joué !</p>
    <p ng-show='defeat'>Perdu, le mot à deviner était "{{vm.dictionnary[0]}}". Mais vous pouvez rejouer :)</p>

    <script src="bower_components/angular/angular.min.js"></script>
    <script></script>

    <script src="js/controllers/hangmanController.js"></script>

    <script src="js/app.js"></script>

  </body>
</html>
